:host {
    .container-fluid {
        padding-top: 20px;
        margin-bottom: 60px;
        .row {
            padding-bottom: 10px;
        }

        a {
            color: orange;
        }
    ::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: black;
    } 
    }
}