:host{
    .container-fluid {
        margin: 20px auto;
        padding-top: 100px;
        .card {
            max-width: 400;
            border-color: #F19A50;
            mat-card-title {
                text-align: center;
            }
        }
    }
    form {
        margin: 0 auto;
        text-align: center;
        button {
            margin-left: 8px;
            background-color: #F19A50;
        }
    }
}