:host {
    .container-fluid {
        padding-top: 20px;
        margin-bottom: 60px;
        .card {
            border-color: #F19A50;
            border-width: 2px;
        }
        a {
            color: #F19A50;
        }
    }
}